
.tableBox{
  table {
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  th,
  td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
}
